{% extends 'base.html' %}
{% block content %}

<div class="card mx-auto" style="width: 18rem;">
  <div class="card-body text-center">
    <h1>ToDo List</h1>

    <a href="{% url 'create_todo' %}">Create New ToDo</a>

    <ul>
      {% for todo in todos %}
        <li>
          <input type="checkbox" {% if todo.completed %}checked{% endif %} disabled>
          {{ todo.title }}
          <a href="{% url 'update_todo' todo.id %}">Update</a>
          <a href="{% url 'delete_todo' todo.id %}">Delete</a>
        </li>
      {% empty %}
        <li>No todos yet.</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}

